<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970075685133-16oms589o0agkca528qqdmh00757m1tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970075685133-16oms589o0agkca528qqdmh00757m1tb</string>
	<key>API_KEY</key>
	<string>AIzaSyDgE1b_lHUoDSPEG3BBqmAj2c8kv5mU8Os</string>
	<key>GCM_SENDER_ID</key>
	<string>970075685133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.audioBackground</string>
	<key>PROJECT_ID</key>
	<string>audio-background-7282e</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-background-7282e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970075685133:ios:21122537c34649ab31b044</string>
</dict>
</plist>